.svgCookie {
    background: url("/cookiesoft_v_2\ 2.svg") center/cover;
    width: 85px;
    height: 85px;
    margin-right: 6px;
}

.textCookie {
    font-family: "lexend";
    font-size: 42px;
    margin: 0;
    font-weight: 500;
}
@media screen and (max-width: 400px) {
    body {
        .transparent_box {
            font-size: 20px;
        }
    }
}

header {
    // background-color: var(--plshldColor);
}

@media screen and (max-width: 800px) {
    #information_block {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    // .textCookie span {
    //     display: none;
    // }
    // .svgCookie{
    //   margin: 0;
    // }
    // .blockCookie{
    //   width: 85px !important;
    // }
    header {
        flex-direction: column;
        top: -140px !important;
    }
}
.transparent_box {
    background-color: #ffffff52;
    // background-color: var(--plshldColor);
    backdrop-filter: blur(40px);
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0px #ff1515 solid;
}
.button_header {
    transition: 0.7s;
    border: 3px #40404000 solid;

    background-color: #ffffff52;
    // background-color: var(--plshldColor);
    backdrop-filter: blur(40px);
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;

    div {
        background: url("profile.svg") center/cover;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 800px) {
    .button_header div {
        width: 40px;
        height: 40px;
    }
}

.block_site {
    display: flex;
    transition: 0.5s;

    img {
        border-radius: 15px;
        height: 220px;
        border: 3px #404040 solid;
    }

    @media screen and (max-width: 1000px) {
        img {
            height: 150px;
        }
    }
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
    @media screen and (max-width: 400px) {
        img {
            width: 100%;
        }
    }

    .div_text {
        // display: flex;
        // width: 100%;
        text-align: center;
        flex-grow: 1;
    }
}
@media (hover: hover) {
    .button_header:hover {
        transition: 0.1s;
        border: 3px #404040 solid;
    }
    .block_site:hover {
        transition: 0.5s;
        background-color: #40404052;
        color: #2b2b2b;
    }
}

a {
    text-decoration: none;
    color: #404040;
}

.foreground_for_photo {
    background-color: rgba(65, 65, 65, 0.485);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    .but_arrow_left {
        svg {
            width: 55px;
        }
    }
    .but_arrow_right {
        svg {
            rotate: 180deg;
            width: 55px;
        }
    }
}
#game {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 600px;
    gap: 60px;
    img {
        border-radius: 15px;
        border: 3px #404040 solid;
        height: 100%;
    }
    @media screen and (max-width: 1650px) {
        grid-template-columns: auto auto;
        grid-template-rows: 600px 600px;
        justify-items: center;
        img:nth-child(1) {
            grid-column: span 2;
        }
    }
    @media screen and (max-width: 1300px) {
        grid-template-rows: 500px 500px;
        gap: 40px;
    }
    @media screen and (max-width: 750px) {
        grid-template-columns: 450px;
        grid-template-rows: auto auto auto;
        img {
            border-radius: 15px;
            border: 3px #404040 solid;
            height: auto;
            width: 100%;
        }
        img:nth-child(1) {
            grid-column: span 1;
        }
    }
    @media screen and (max-width: 550px) {
        grid-template-columns: auto;
        // grid-template-rows: auto auto auto;
        // img {
        //     border-radius: 15px;
        //     border: 3px #404040 solid;
        //     height: auto;
        //     width: 100%;
        // }
        // img:nth-child(1) {
        //     grid-column: span 1;
        // }
    }
}
